PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=libra
DB_USER=libra
DB_PASSWORD=libra
DB_SYNCHRONIZE=true
PAYMENT_URL=http://127.0.0.1:8081
PAYMENT_API_KEY=local-secret
CARD_VALIDATION_URL=http://127.0.0.1:8082
CARD_VALIDATION_API_KEY=local-card-secret
